* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  background-color: #efe4d4;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgba(165, 42, 42, 0.536);

}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: white;
  background-color: #b07946;
}

#left-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  gap: 20px;
  background-color: #efe4d4;
}

#right-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  border-left: solid 1px rgba(165, 42, 42, 0.536);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 7px;

}

#card1-container, #card2-container, #card3-container, #card4-container, #card5-container, #card6-container, #card7-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  height: 380px;
  width: 400px;
  border: solid 1px rgba(165, 42, 42, 0.536); 
  margin-top: 50px;
}

input {
  margin-bottom: 20px;
  width: 200px;
  
}

label {
  font-size: 20px;
}

#button {
  width: 200px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#button:hover {
  background-color: #b07946;
  color: white;
}