* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  background-color: #2f4f4e;
  color: white;

}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgb(255, 255, 255);
  

}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align: center;
  width: 100%;
  height: 100%;
 
  font-weight: bold;
  font-style: italic;
  color: white;
  background-color: #000000;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;

}

#left-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  gap: 20px;
  background-color: #2f4f4e;
}

#right-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  border-left: solid 1px rgb(255, 255, 255);
  

}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
  height: fit-content;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;

  gap: 8px;
  background-color: #f1dec985;
  border-radius: 10px;
  border: solid 1px #ffff;
}

form > input {
  margin-bottom: 10px;
 
  
}


h5{
  margin-left: 20px;
  margin-right: 20px;
  
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7{
color: rgb(255, 255, 255);
font-weight: bold;
background-color: #2C3639;

}


#card1-container, #card2-container, #card3-container, #card4-container, #card5-container, #card6-container, #card7-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: justify;
  text-align: center;
 
  height: 380px;
  width: 400px;
  border: solid 1px rgb(255, 255, 255); 
  border-radius: 10px;
  margin-top: 50px;
  background-color: #f1dec985;
}

#container1, #container2, #container3, #container4, #container5, #container6, #container7 {
color:#2C3639;



}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  object-fit: cover;
  border-radius: 50%;
  
 
}

#container1, #container2, #container3, #container4, #container5, #container6, #container7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 20px;

}

form > input {
  width: 100%;
   height: 25px;
  
}


label {
  font-size: 20px;
 text-align: left;
}

#button {
  width: 200px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border-radius: 60%;
 

}

#button:hover {
  background-color: #0e191d;
  color: white;
  border-radius: 60%;
}